<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SeptWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>actorTest</servlet-name>
		<servlet-class>com.h2kinfosys.servlet.ActorMgmtServlet</servlet-class>
		<init-param>
			<param-name>DBName</param-name>
			<param-value>Sybase</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>actorTest</servlet-name>
		<url-pattern>/actor</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>audit</filter-name>
		<filter-class>com.h2kinfosys.servlet.AuditFilter</filter-class>
		<init-param>
			<param-name>directory</param-name>
			<param-value>file/something/log</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>audit</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Session timeout for entire application in minutes -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
	<listener>
		<listener-class>com.h2kinfosys.servlet.listener.TestRequestListener</listener-class>
	</listener>
</web-app>